.u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 969px;
}

.u-section-1 .u-image-1 {
  width: 648px;
  min-height: 969px;
  background-image: url("images/v.png");
  background-position: 50% 50%;
  margin: 0 116px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -291px 0 23px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  grid-gap: 31px 31px;
  min-height: 399px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 24px 4px 0 1px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 24px 4px 0 1px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 24px 4px 0 1px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 24px 4px 0 1px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 534px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 775px;
    height: 709px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-bottom: -97px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    grid-gap: 33px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-image-1 {
    width: 632px;
    min-height: 950px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-1 .u-image-2 {
    width: 664px;
    height: 664px;
    margin-top: -889px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -298px;
    margin-bottom: -262px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-image-1 {
    min-height: 890px;
    width: 483px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 478px;
    height: 478px;
    margin-top: -830px;
  }

  .u-section-1 .u-list-1 {
    width: 516px;
    margin-top: -136px;
    margin-bottom: 89px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-1 .u-image-1 {
    width: 309px;
    min-height: 652px;
    margin-top: 185px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 300px;
    margin-top: 30px;
    margin-bottom: -289px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}